main {
  margin: 1.5rem;
}

button {
  color: #333;
  height: 30px;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:enabled:hover {
  color: #333;
  background: #cccccc;
}

button:disabled {
  cursor: default;
}

.page-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.page-section {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  width: fit-content;
}

input,
textarea {
  background-color: #444;
  color: #ccc;
  border: 0px;
  padding: 10px;
  border-radius: 10px;
}

textarea.input-output {
  width: 700px; /* Full width */
  height: 300px; /* Adjust height as needed */
  font-family: monospace; /* Use a monospaced font for code */
  font-size: 14px; /* Adjust font size as needed */
  resize: none;
}
