.body {
  margin: 1.5rem;
}

button {
  color: #000000;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background: #cccccc;
}

.input-output-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.input-output-container input,
textarea {
  background-color: #444;
  color: #ccc;
  border: 0px; /* Light border for visibility */
  padding: 10px; /* Padding inside the textarea */
  border-radius: 10px;
}

.input-output-boxes {
  width: 700px; /* Full width */
  height: 300px; /* Adjust height as needed */
  font-family: monospace; /* Use a monospaced font for code */
  font-size: 14px; /* Adjust font size as needed */
  box-sizing: border-box; /* Ensure padding is included in width/height */
  resize: none;
}
