.change-container {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 300px;
  gap: 20px;
}

.change-box {
  width: 50%;
  font-family: monospace;
  font-size: 25px;
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
}

.explanation-box {
  width: 50%;
  font-family: monospace;
  font-size: 25px;
  padding: 10px;
  background-color: #444;
  border-radius: 10px;
}
