.url-container {
  flex-direction: column;
  align-items: center;
}

.url-enter {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
}

.url-enter button {
  width: 50px;
}

.url-enter input {
  flex: 1;
}

#url-pulse-loader {
  margin-top: 10px;
}

.convert-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.convert-container button {
  width: 90px;
  height: 40px;
}

#convert-pulse-loader {
  margin-left: 15px;
}

.import-file button {
  width: 20%px;
}
