.input-form {
  margin-bottom: 20px;
}

.url-container {
  flex-direction: column;
  align-items: center;
}

.url-enter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.url-enter button {
  width: 50px;
}

.url-enter input {
  flex: 1;
}

#url-pulse-loader {
  margin-top: 10px;
}

.convert-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}

.convert-container button {
  width: 90px;
  height: 40px;
}

.import-file button {
  width: 20%px;
}

#no-changes-message {
  margin: 0px;
}
