.menu-container {
  display: flex;
}

.menu-container menu {
  background-color: #444;
  padding: 0px;
  border-radius: 10px;
}

.menu-button {
  background: none;
  border: none;
  color: #b3b3b3;
  padding: 5px;
  margin: 5px; /* Adjust margin for spacing between buttons */
  transition: all 0.2s ease-in-out;
}
.menu-button:hover {
  background: #222;
  color: white;
}

.menu-button.selected {
  background-color: white;
  color: black;
}
