.output-box {
  display: flex;
  flex-direction: column;
}

.output-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
  background: transparent;
  margin-top: 0px;
}

#copy-button:hover {
  color: #cccccc;
}

.view-changes {
  margin-top: 20px;
}
